version: '3.8'

services:
  backend:
    build: ./apple-stock-backend
    container_name: stock-backend-docker-image
    ports:
      - '8080:8080'
    environment:
      - NODE_ENV=production

  frontend:
    build: ./apple-stock
    container_name: stock-frontend-docker-image
    ports:
      - '80:80'
